body{
  background-color: grey;
  min-height: 95vh;
  min-width: 95vw;
  display:grid;
  grid-template-columns: auto ;
  grid-template-rows: 1fr;
  grid-template-areas:  "acceuil ";
}

.acceuil{

  grid-area: acceuil;
  text-align: center;
  background-color: cyan;
  display: block;
}

.bout{



}

@media screen and (max-width: 1081px){
  .acceuil{
    display:grid;
    grid-template-rows: 5% 30vh 30vh;

  }
  input{

  }
}
